fastapi
uvicorn[standard]
python-multipart
pydantic

pymupdf
python-docx
pytesseract
Pillow

faiss-cpu
numpy
torch

docx2pdf

sentence-transformers

sqlalchemy
requests
protobuf


